<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin-top: 50px">
                <div class="mat-elevation-z8">
                    <button routerLink="/create-category" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary">Create Category
                        <mat-icon color="accent" matSuffix>category</mat-icon>
                    </button>
                    <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Name</th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="avatar">
                            <th mat-header-cell *matHeaderCellDef> Avatar</th>
                            <td mat-cell *matCellDef="let element"><img [src]="element.avatar"></td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                   showFirstLastButtons
                                   aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </mat-card>
        </div>
    </div>
</div>
